{% extends 'base.html' %}

{% block content %}

{% for category, title, metadata, html_content, available in posts[start:end] %}

<div class="row justify-content-center">
	<div class="col-11">
		<div class="row post-preview bg-body-tertiary">
			<div class="col-12 post-preview-title">

				{% if not available %}
				<div class="blog-not-available text-warning">
					<svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="currentColor" class="bi exclamation" viewBox="0 0 16 16">
						<use xlink:href="{{ url_for('static', filename='icons/icons.svg') }}#exclamation"/>
					</svg>
					{{ g.t.get('language not available', 'Not available in selected language.') }}.
				</div>
				{% endif %}

				<a href="{{ url_for('blog.show_post', post_category=category, post_title=title) }}"><h1>{{ metadata['title'] }}</h1></a>

				{% if g.lang_code == 'en' %}
				<span>By <span class="author-name">{{ metadata['author'] }}</span> on <time datetime="{{ metadata['date'] }}">{{ metadata['date'].strftime('%d %B %Y') }}</time></span>

				{% elif g.lang_code == 'eus' %}
				<span><span class="author-name">{{ metadata['author'] }}</span>(e)k idatzia <time datetime="{{ metadata['date'] }}">{{ metadata['date'].strftime('%Y') }}(e)ko {{ g.t.get(metadata['date'].strftime('%B'), '?') }}ren {{ metadata['date'].strftime('%d') }}(e)an</time></span>

				{% elif g.lang_code == 'es' %}
				<span>Por <span class="author-name">{{ metadata['author'] }}</span> el <time datetime="{{ metadata['date'] }}">{{ metadata['date'].strftime('%d') }} de {{ g.t.get(metadata['date'].strftime('%B'), '?') }} de {{ metadata['date'].strftime('%Y') }}</time></span>
				{% endif %}

			</div>
			<div class="col-12 post-preview-body">
				{{ html_content|safe }}
			</div>
			<div class="col-12 read-more">
				<a href="{{ url_for('blog.show_post', post_category=category, post_title=title) }}">{{ g.t.get('read more', 'Read more')}}...</a>
			</div>
		</div>
	</div>
</div>

{% endfor %}

<div class="row blog-pages justify-content-center">
	<div class="col-12 text-center">
		{% if current_page > 1 %}
		<a href="{{ url_for('blog.index', page_num = current_page - 1) }}" class="arrow-link">
			<svg xmlns="http://www.w3.org/2000/svg" height="32" fill="currentColor" class="bi exclamation" viewBox="0 0 16 16">
				<use xlink:href="{{ url_for('static', filename='icons/icons.svg') }}#arrow-left"/>
			</svg>
		</a>
		{% endif %}
		
		{% if g.lang_code == 'en' %}
		<span>Page {{ current_page }} of {{ n_pages }}</span>
		{% elif g.lang_code == 'eus' %}
		<span>{{ current_page }}. orria {{ n_pages }}(e)tik</span>
		{% elif g.lang_code == 'es' %}
		<span>P&aacute;gina {{ current_page }} de {{ n_pages }}</span>
		{% endif %}

		{% if current_page < n_pages %}
		<a href="{{ url_for('blog.index', page_num = current_page + 1) }}" class="arrow-link">
			<svg xmlns="http://www.w3.org/2000/svg" height="32" fill="currentColor" class="bi exclamation" viewBox="0 0 16 16">
				<use xlink:href="{{ url_for('static', filename='icons/icons.svg') }}#arrow-right"/>
			</svg>
		</a>
		{% endif %}
	</div>
</div>	

{% endblock %}
