{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-12">

		{% if g.lang_code == 'en' %}
		<h1>About Me</h1>
		<p>Hi! I'm Paul. I have a degree in physics from the University of California, Los Angeles (UCLA) and I am currently a master's student in Quantum Engineering at ETH Z&uuml;rich. I am also doing a software internship in Singapore, in the field of quantum communications.</p>
		<p>You can download my CV in PDF form <a href="{{ url_for('static', filename='files/CV_Paul_Uriarte.pdf') }}" target="_blank">here</a> (last updated on 20 May 2023).</p>

		{% elif g.lang_code == 'eus' %}
		<h1>Niri Buruz</h1>
		<p>Kaixo! Paul naiz. Fisika gradua ikasi nuen Los Angeleseko Kaliforniako Unibertsitatean (UCLA), eta orain ETH Z&uuml;rich-en Ingeniaritza Kuantiko masterreko ikaslea naiz. Horrez gain, software praktikak egiten narabil Singapurren, komunikazio kuantikoen arloan.</p>
		<p>Nire currikuluma PDF formatuan <a href="{{ url_for('static', filename='files/CV_Paul_Uriarte.pdf') }}" target="_blank">hemen (ingelesez)</a> aurki dezakezu (azken aldiz 2023ko Maiatzaren 20an eguneratua).</p>

		{% elif g.lang_code == 'es'%}
		<h1>Sobre M&iacute;</h1>
		<p>Hola! Soy Paul, graduado en f&iacute;sica de la Universidad de California, Los Angeles (UCLA) y actualmente estudiante de Ingenier&iacute;a Cu&aacute;ntica en ETH Z&uuml;rich. Tambi&eacute;n estoy haciendo pr&aacute;cticas de software en Singapur, en el campo de las comunicaciones cu&aacute;nticas.</p>
		<p>Puedes descargar mi CV en formato PDF <a href="{{ url_for('static', filename='files/CV_Paul_Uriarte.pdf') }}" target="_blank">aqu&iacute; (en ingl&eacute;s)</a> (actualizado por &uacute;ltima vez el 20 de mayo de 2023).</p>

		{% endif %}
	</div>

	
</div>
{% endblock %}
