{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-12">
		<h1>About Me</h1>
		<p>I am Paul Uriarte Vicandi, born {{ age }} years ago in northern Spain (<a href="https://en.wikipedia.org/wiki/Basque_Country_(autonomous_community)" target="_blank">Basque Country</a>). After finishing high school, I went to the University of California, Los Angeles (UCLA), where I obtained my bachelor's degree in physics with <em>magna cum laude</em> honors. Since September 2022, I am a master's student in the Quantum Engineering program at ETH Z&uuml;rich.</p>
		<p>As my background might suggest, I'm interested in physics, specially quantum technologies, and I'm very excited to work in such a bleeding-edge field. Other interests include software and electrical engineering.</p>
		<p>In my spare time, I like to learn about random things, daydream, and work on DIY projects involving electronics, software, and light amounts of disaster. I (may) write about some of them in my blog. Oh, and I also do the typical stuff like watch movies, draw, and vegetate. Lately I've been particulary interested in urban planning and design, courtesy of <a href="https://www.youtube.com/c/notjustbikes" target="_blank">Not Just Bikes</a> and Cities: Skylines.</p>
		<p>You can download my CV in PDF form <a href="{{ url_for('static', filename='files/CV_Paul_Uriarte.pdf') }}" target="_blank">here</a> (last updated on 20 May 2023).</p>
	</div>

	
</div>
{% endblock %}
