{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-start">
	{% for fname in filenames %}
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 gallery-card-wrapper px-3 px-sm-1">
		<div class="gallery-card bg-body-tertiary text-center">
			<a href="{{ url_for('serve_gallery_img', filename=fname) }}" data-lightbox="gallery" data-title="{{ captions.get(fname, '')['title'] + ' - ' + captions.get(fname, '')['date'] }}" data-alt="{{ captions.get(fname, '')['title'] }}">
				<img class="img-fluid" src="{{ url_for('serve_gallery_img', filename=fname) }}">
			</a>
			<p class="gallery-card-text">{{ captions.get(fname, '')['title'] }}</p>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}